* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
body {
  padding: .45rem 0;
  height: 100vh;
}
#main {
  position: relative;
  height: 100%;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #006699;
  height: .45rem;
  width: 100vw;
  padding: 0 .45rem;
  display: flex;
  text-align: center;
  line-height: .45rem;
  color: #fff;
  z-index: 999;
}
#header h4 {
  flex: 1;
  line-height: .45rem;
  height: .45rem;
  font-weight: 400;
}
#header form {
  flex: 1;
}
#header form .search {
  font-size: .14rem;
  text-align-last: left;
  color: #ccc;
  background-color: #fff;
}
#header a {
  position: absolute;
  top: 0;
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  color: #fff;
}
#header a:first-of-type {
  left: 0;
}
#header a:last-of-type {
  right: 0;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: .45rem;
  background-color: #006699;
  z-index: 999;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 25%;
  padding: .02rem;
}
#footer ul li.active a {
  color: orange;
}
#footer ul li.active a p {
  color: orange;
}
#footer ul li a {
  display: block;
  text-align: center;
  color: #fff;
}
#footer ul li a p {
  margin: 0;
  color: #fff;
}
#main {
  display: flex;
  background-color: #ccc;
}
#main .category-left {
  width: .8rem;
  position: relative;
}
#main .category-left ul {
  min-height: 5.78rem;
}
#main .category-left ul li a {
  display: block;
  height: .45rem;
  line-height: .45rem;
  text-align: center;
  font-size: .14rem;
  color: #666;
  background-color: #fff;
}
#main .category-left ul li.active a {
  color: #006699;
  background-color: #ccc;
}
#main .category-right {
  flex: 1;
  position: relative;
}
#main .category-right ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: .1rem;
  min-height: 5.78rem;
}
#main .category-right ul li {
  width: 33.33%;
}
#main .category-right ul li a {
  display: block;
  background-color: #fff;
}
#main .category-right ul li a img {
  width: 100%;
}
#main .category-right ul li a p {
  font-size: .14rem;
  text-align: center;
}
